minimum_prek_version: "0.3.0"
default_language_version:
  python: python3.14
repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-yaml
      - id: mixed-line-ending
      - id: check-symlinks
      - id: check-merge-conflict
      - id: no-commit-to-branch
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format
