minimum_prek_version: "0.3.0"
default_language_version:
  python: python3.14
repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: check-yaml
      - id: mixed-line-ending
      - id: check-symlinks
      - id: check-merge-conflict
      - id: no-commit-to-branch
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort (python)
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
